<!DOCTYPE html>
<html>

<head>
	<style>
		#green {
			width: 200px;
			height: 200px;
			border: 1px solid green;
			float: right;
			margin: 5px;
		}
		
		#red {
			width: 100px;
			height: 300px;
			border: 1px solid red;
			margin: 5px;
			float: left;
		}
		
		#blue {
			width: 310px;
			height: 100px;
			border: 1px solid blue;
			margin: 5px;
			clear: left;
		}
	</style>

</head>

<body>

	<div id="green">green green green green green green green green green green green green green green green green green green green green
		green green green green green green green green green green green green green green green green green green green green
		green green green green green green green green green green green green green green green green</div>
	<div id="red"></div>
	<div id="green">green green green green green green green green green green green green green green</div>
	<div id="blue"></div>
	<div id="red"></div>
	<div id="green">greengreengreengreengreengreengreengreengreengreengreengreengreengreengreengreengreengreengreengreengreengreengreengreengreengreengreengreen</div>
	<div id="blue"></div>
</body>

</html>